<config platform="project" template="project (default)">Created: Thu Oct 30 11:08:14 2014&#xd;&#xd;&#xd;
By: b1009269&#xd;&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value=""/>
    <option fromDef="true" name="name" value="SlidingHome"/>
    <option fromDef="true" name="caption" value="SlidingHome"/>
    <option fromDef="true" name="provider" value="b1002814"/>
    <option fromDef="true" name="copyright" value="(C) b1002814"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
