<config platform="project" template="project (default)">Created: Thu Oct 30 11:08:14 2014&#xd;
By: b1009269&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="" name="config"/>
    <option fromDef="true" value="SlidingHome" name="name"/>
    <option fromDef="true" value="SlidingHome" name="caption"/>
    <option fromDef="true" value="Simon" name="provider"/>
    <option fromDef="true" value="(C) Simon" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
