<config template="project (default)" platform="project">Created: Thu Oct 30 11:08:14 2014
By: b1009269
Using Template: project (default)

&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="" fromDef="true" name="config"/>
    <option value="SlidingHome" fromDef="true" name="name"/>
    <option value="SlidingHome" fromDef="true" name="caption"/>
    <option value="b1009269" fromDef="true" name="provider"/>
    <option value="(C) b1009269" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
